Hello World

<h1 class=" bluecolor textcolor h1style">{{title}} </h1>
<p><b>This is a very long text. </b> <br><i>This is a very long text.</i> <u> This is a very long text</u></p>
<h2 class= "globalstyle">{{subtitle}}</h2>
<h3> Unordered List </h3>
{{number}}
<h4>Ordered List</h4>
<ol>
  <li>One</li>
  <li>Two</li>
  <li>Three</li>
  <li>Four</li>
</ol>
<h5>Subtitle H5</h5>
<h6>Subtitle H6</h6>
<div></div>
<a></a>

<ul>
  <li><i class="fa-solid fa-user fa-fw"></i> User</li>
  <li><i class="fa-brands fa-facebook fa-fw fa-rotate-90"></i> Facebook</li>
  <li><i class="fa-solid fa-download fa-fw"></i> Download</li>
  <li><i class="fa-solid fa-spinner fa-fw fa-spin"></i> Loading</li>
</ul>

<app-users></app-users>