.bluecolor{
    background-color: black;
} 
.textcolor {
    color: white;
}
.h1style{
    text-align: center;
    // padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.samplesize{
    font-size: 64px;
}